# Binary files
bin/

# Configuration and data files
internal/config/config.json
internal/models/posts.json
internal/config/linkedin_token.json

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
.claude

vendor
